@using System.Web.Mvc.Html

@{
    Layout = "~/Views/_NewBase/Shared/SilverPlusLayout/_SilverPlusMobileFirstLayoutBase.cshtml";
    Page.Title = "Hudl Secretary";
    
    //Add static resources here
    //Page.Scripts.Add("~/Js/manage/addteam/main.js");
    //Page.Stylesheets.Add("~/Css/Sass/addteam.scss");
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    <h1>Hudl Secretary</h1>
    </div>
</body>
</html>
